  <div id="container">
      <h2 mat-dialog-title>Log In</h2>

  <mat-dialog-content >
    <form>
      <mat-form-field>
        <input matInput placeholder="Email" [(ngModel)]="UserID" name="UserID" value="">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Password" [(ngModel)]="Password" name="username" value=""type="password">
      </mat-form-field>
      </form>
  </mat-dialog-content>
  
  <mat-dialog-actions>
      <button class="mat-raised-button" (click)="login()" style="background-color:steelblue;">LOGIN</button>
  </mat-dialog-actions>
  </div>